.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust this value to control the vertical spacing between form elements */
  max-width: 500px; /* Set a max width to limit the form width for desktop view */
  margin: 0 auto; /* Center the form horizontally */
}

.form-field {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly; /* Align buttons with even space between them */
  margin-top: 20px; /* Add some margin to separate the buttons from the form fields */
}

/* Add this style to align form items to the left */
.form-container .mat-form-field-wrapper {
  align-self: flex-start;
}
