.custom-date-picker-panel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

.custom-date-picker-panel {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding: 8px;


}

